<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WearHouse</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/FormControl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TableControl.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Modal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiniProject_IT_DIV.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header>
        <nav class="header">
            <div class="navContainer">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WearHouse</a>

                <button class="navbar-toggler" id="menuButton">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>

                <ul class="navbar-nav" id="navbarNav">
                    <div class="item">
                        <li class="nav">
                            <a class="nav-link" asp-area="" asp-controller="Category" asp-action="Index">Category</a>
                        </li>

                        <li class="nav">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                    </div>

                    <div class="auth">
                        <li class="nav">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container renderedBody">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer footerCnt">
        <div class="">Copyright &copy; 2023 Andrew Klement Winarto. All Rights Reserved</div>
    </footer>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
