@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div>
    <h1 class="welcome">About Us</h1>
    <p>
        WearHouse is a fast fashion brand that was founded in 2019. WearHouse aims to provide affordable, high
        quality, trendy, and easy-to-access fashion apparels. To fullfil our goals, we have opened more than 100
        stores in various cities across Indonesia. We have a commitment to make each of our product available in
        every store, with equal price tags and build qualities regardless of location.
    </p>

    <h2 class="welcome">Contact Us</h2>
    <p>
        Phone: (021) 12345
    </p>
    <p>
        Email: support@wearhouse.com
    </p>
</div>
